@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #f5f5f5;
}

@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/cern-extrabold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/cern-extrabolditalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/cern-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/cern-medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/cern-mediumitalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/cern-semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/cern-semibolditalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/cern-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Inconsolata-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Inconsolata-Bold.woff2') format('woff2');
  font-display: swap;
}

h1, h2, h3, h4, h5, p, a, button, b, strong, em, span, q, figcaption, cite {
  font-family: Cern, Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color:#1A1A23;
}
h6 {
  font-family: Inconsolata, Consolas, Courier, monospace;
}

/* Global styles or module CSS file */
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 50; /* Ensure the navbar is on top */
  transition: transform 0.3s ease-in-out;
}

.nav_container.hidden {
  transform: translateY(-100%);
}

.nav_container.visible {
  transform: translateY(0);
}

.nav_list_container {
  transition: transform 0.3s ease-in-out;
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
  z-index: 1;
}

.hamburger .bar-1,
.hamburger .bar-2,
.hamburger .bar-3 {
  height: 2px;
  background-color: #1A1A23;
  transition: transform 0.3s ease-in-out;
}

.hamburger .bar-1 {
  width: 40px;
}

.hamburger .bar-2 {
  width: 30px;
}

.hamburger .bar-3 {
  width: 20px;
}

.hamburger.open .bar-1 {
  transform: rotate(45deg) translateY(9px);
  width: 30px;
}

.hamburger.open .bar-2 {
  opacity: 0;
}

.hamburger.open .bar-3 {
  transform: rotate(-45deg) translateY(-10px);
  width: 30px;
}
.nav_mobile_list{
  display: flex;
  flex-direction: column;
  gap:20px; 
  padding-top: 30px;
  text-align: center;
}
.bullet_mobile{
  font-size: 20px;
  opacity: 0.5;
}
.mobile_link_terms{
  opacity: 0.5;
  transition: all 0.2s ease;
}
.mobile_link_terms:hover{
  opacity: 0.8;
}
.mobile_link{
  transition: all 0.2s ease;
}
.mobile_link:hover{
  opacity: 0.6;
}
.nav_list_mobile_container.open{
  transform: translateY(0);
}

.auth_btn_container{
  display: flex ;

}
.nav_list_container.open .nav_list{
  display: flex !important;
}
.nav_list_mobile_container{
  display: none;
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
  .nav_list_mobile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap:30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    transform: translateY(-100%);
    z-index: 1;
  }
  .nav_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateY(-100%);
  }
  .nav_list {
    flex-direction: column;
    text-align: center;
  }

  .nav_list{
    display: none;
  }
}



/*!==============INTRO===============*/
.landing_container{
  padding-left: 16rem;
  padding-right: 16rem;
}
.intro_image_container{
  padding-left: 4rem;
  padding-right: 4rem;
}

/*!==============INTRO===============*/

/*!==============HEADER===============*/
.nav_container{
  padding-left: 8rem /* 128px */;
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login_in_btn{
  color:#1A1A23;

}
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem; /* 16 * 0.25rem */
}
.sign_up_btn{
  border: 2px solid #1A1A23;
  background-color: #FF7E61;
  padding-left: 1.5rem;   
  padding-right: 1.5rem;
  padding-top: 8px;   
  padding-bottom: 8px;
  color:#1A1A23;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  border: #1A1A23 solid 2px;
  box-shadow: 4px 4px 0px #1A1A23;
  transition:all 0.2s ease;
}
.sign_up_btn:hover{
  box-shadow: 0px 0px 0px #1A1A23;
}
.login_btn{
  border: 2px solid #1A1A23;
  padding-left: 10px;   
  padding-right:10px;
  padding-top: 8px;   
  padding-bottom: 8px;
  color:#1A1A23;
  font-weight: 600;
  border: #1A1A23 solid 2px;
  box-shadow: 4px 4px 0px #FF7E61;
  letter-spacing: 1px;
  font-size: 14px; 
  transition:all 0.2s ease;
}
.login_btn:hover{
  box-shadow: 0px 0px 0px #FF7E61;
}
.auth_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
}
.nav_container{
  border-bottom: 1px solid #dfdfdf;
}
.mobile_auth_container{
  display: none !important;
}
/*!==============HEADER===============*/
.every_p_btn_m{
  display: none;
}
.review_controllers_mobile{
  display:none
}
/*!==============RESPONSIVE===============*/
@media(max-width:1450px) {
  .landing_container{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .nav_container{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .review_card_container{
    /* width:700px !important; */
  }
  .review_controls{

  }
  .blog_section{
    @apply px-16
  }
  .review_container{
    @apply px-8
  }
  .every_p_container{
    @apply px-16
  }

}
@media(max-width:1250px) {
  .nav_list{
    gap:2rem;
  }
  .blog_section_intro{
    flex-direction: column;
    align-items: start;
  }
  .blog_section_intro_desc{
    padding-top: 30px;
  }
  .banks_landing_container{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .banks_landing_logo{
    width: 100px;
  }
  .review_controls{
   @apply px-0 
  }
  .accordion_container{
    @apply px-16
  }
}
@media (max-width: 1100px) {
  .review_card_container{
    width:800px !important;
  }
}
@media (max-width: 1024px) {
  .nav_container{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .review_controls{
    display:none !important;
  }
  .review_controllers_mobile{
    @apply pr-20 flex gap-4
  }
  .reviews_container{

  }
  
   .cash_clearer_section{
    @apply px-8
   }
   .blog_section{
    @apply px-8
   }
   
  .progress-bar{
    position: relative !important;
    width: 100% !important;
  }
  .every_p_container{
    flex-direction:column;
  }
  .every_p_desc{
    align-items: start;
    text-align: left;
    padding-top: 20px;
  }
  .every_p_btn{
    display: none;
  }
  .every_p_btn_m{
    display:flex;
  }
  .try_now{
    width: 500px !important;
    height: 500px !important;
    padding-top: 300px !important;
    
  }
  .end_title{
    font-size:150px;
    margin-bottom: -100px !important;
  }
  .try_now_desc{
    z-index:10 !important;
    position: relative;
  }
  /* .pagination{
    display: flex !important;
  } */
  .banks_landing_container{
    
  }
  .accordion_container{
    @apply px-8
  }
}
@media (max-width: 900px) {
  .faq_section_container{
    @apply grid-cols-1;
  }
  .accordion_container{
    @apply px-0 pt-[70px]
  }
}
@media (max-width: 860px) {
  .landing_container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @apply ml-0
  }
  .intro_landing_desc{
    @apply ml-0
  }
  .work_image{
    @apply h-[100%] w-[100%] object-cover
  }
  .stats_container{
    @apply px-8
  }
  .review_desc{
    font-size:12px;
  }
  .review_profile_container{
    @apply pl-0 pr-8
  }
  .review_card_container {
    width: 600px !important;
    
  }
  .cash_clearer_img{
    width: 300px;
  }
}
@media (max-width: 768px) {
  .work_image{
    display:none;
    width:100%;
  }
  .footer_container{
    flex-wrap: wrap;
  }
  .footer_item{
    flex-basis: 50% !important;
    @apply pt-10
  }
  .every_p_desc{
    @apply pr-20
  }
  .account_card_img{
    @apply w-[400px]
  }
  .review_desc_container{
    @apply col-span-3
  }
  .every_p_desc{
    @apply pt-10
  }
  .every_p_container{
    @apply px-8
  }
  .landing_container{
    @apply px-8
  }
  .blog_title_landing{
    @apply text-[25px]
  }
  .blog_desc_landing{
    @apply text-[15px]
  }
  .faq_section{
    @apply px-0
  }
}
@media (max-width: 660px) {
  .review_card_container {
    width: 400px !important;
  }
  .review_container{
    justify-content: start !important;
    @apply px-0 
  }
  .review_vector{
    justify-content: center !important;
    width: 100%;
  }
  .review_vector_img{
    width: 150px;
  }
  .review_quote{
    width: 35px !important;
  }
  .review_desc{
    @apply pl-4 pb-4
  }
  .rating_container{
    display:none;
  }
  .review_desc_container{
    align-items: start;
  }
  .main_desc{
    font-size: 15px !important;
  }
  .intro_image_container{
    @apply px-6
  }
  .main_header_title{
    font-size: 40px !important;
  }
  .intro_image_container {
    @apply mt-20
  }
  .auth_btn_container{
    display:none !important;
  }
  .mobile_auth_container{
    display: flex !important;
  }
  .cash_clearer_container{
    flex-direction: column;
    align-items: start;
  }
   .cash_clearer_desc{
    order:1 !important;
    @apply pt-4
  }
  .cash_clearer_img_container{
    order:0 !important;
  }
  .stats_container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .try_now {
    width: 300px !important;
    height: 300px !important;
    margin-top: -350px !important;
    padding-top: 0 !important;
    margin-bottom:50px !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;;
  }
  .end_title {
    font-size:100px
  }
  .try_now_desc{
    font-size:30px !important;
  } 
  .try_now_l_desc{
    font-size:15px ;
    @apply px-10
  }
}
@media (max-width: 425px) {
  .mobile_privacy_container{
    flex-direction: column;
  }
  .bullet_mobile{
    display: none;
  }
  .footer_item{
    flex-basis: 100% !important;
  }
  .footer_ending_credits{
    flex-direction: column;
    gap:20px;
  }
  .banks_landing_container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap:20px;
    @apply py-20
  }
}
/*!==============RESPONSIVE===============*/

/*! CUSTOM CSS */
.accordion{
  border: #1A1A23 solid 2px;
  box-shadow: 0px 4px 0px #1A1A23;

}
.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.review_controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.pagination {
  display: flex;
  justify-content: center;
  display: none;
  margin-top: 10px;
}

.pagination-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-dot.active {
  background: black;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 30%;
  margin-left:auto;
  margin-right:auto;
  height: 3px;
  background: lightgray;
  border-radius:6px;
}
.pagination_btn{
  border:1px solid #EAECF0;
  padding:12px;
  border-radius:100%;
  background-color: #F2F2F2;
  transition: all 0.3s ease;
  outline:none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination_btn:hover{
  background-color: #1A1A23;
  color:#fff;
}
.blog_preview_btn{
  border:1px solid #EAECF0;
  padding:12px;
  border-radius:100%;
  background-color: #F2F2F2;
  transition: all 0.3s ease;
  outline:none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.blog_preview_btn:hover{
  background-color: #1A1A23;
  color:#fff;
}
.try_now{
  border: 3px solid #e9e9eb;
  border-radius:9999px;
  width: 700px;
  height: 700px;
  margin-top:-500px;
  padding-top: 450px;
}
.progress {
  height: 100%;
  background: black;
  transition: width 0.5s ease-in-out;
  border-radius:6px;
}

.review-card {
  text-align: center;
}
.blog_separator{
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.accordion:hover{
  background-color: #FF7E61 ;
  transition: all 0.3s ease;
  box-shadow:0px 0px 0px;
}
.text-color{
  color:#1A1A23;
}
/*!==============FOOTER===============*/
.footer_social_links{
  transition: transform 0.3s ease;
}
.footer_social_links:hover {
  transform: scale(0.9);
  opacity: 0.8;
}
.footer_link{
  transition: all 0.3s ease
}
.footer_link:hover{
  opacity: 0.8;
  transform: scaleX(1.1);
}
/*!==============FOOTER===============*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {
  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold text-gray-900;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Home */
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 shadow-chart sm:gap-6 sm:p-6;
  }

  .total-balance-chart {
    @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
  }

  .total-balance-label {
    @apply text-14 font-medium text-gray-600;
  }

  .total-balance-amount {
    @apply text-24 lg:text-30 flex-1 font-semibold text-gray-900;
  }

  .recent-transactions {
    @apply flex w-full flex-col gap-6;
  }

  .view-all-btn {
    @apply text-14 rounded-lg border border-gray-300 px-4 py-2.5 font-semibold text-gray-700;
  }

  .recent-transactions {
    @apply flex w-full flex-col gap-6;
  }

  .recent-transactions-label {
    @apply text-20 md:text-24 font-semibold text-gray-900;
  }

  .recent-transactions-tablist {
    @apply custom-scrollbar mb-8 flex w-full flex-nowrap;
  }

  /* Right sidebar */
  .right-sidebar {
    @apply no-scrollbar hidden h-screen max-h-screen flex-col border-l border-gray-200 xl:flex w-[555px] xl:overflow-y-scroll !important;
  }

  .profile-banner {
    @apply h-[120px] w-full bg-gradient-mesh bg-cover bg-no-repeat;
  }

  .profile {
    @apply relative flex px-6 max-xl:justify-center;
  }

  .profile-img {
    @apply flex-center absolute -top-8 size-24 rounded-full bg-gray-100 border-8 border-white p-2 shadow-profile;
  }

  .profile-details {
    @apply flex flex-col pt-24;
  }

  .profile-name {
    @apply text-24 font-semibold text-gray-900;
  }

  .profile-email {
    @apply text-16 font-normal text-gray-600;
  }

  .banks {
    @apply flex flex-col justify-between gap-8 px-6 py-8;
  }

  /* My Banks */
  .my-banks {
    @apply flex h-screen max-h-screen w-full flex-col gap-8 bg-gray-25 p-8 xl:py-12;
  }

  /* My Banks */
  .transactions {
    @apply flex max-h-screen w-full flex-col gap-8 overflow-y-scroll bg-gray-25 p-8 xl:py-12;
  }

  .transactions-header {
    @apply flex w-full items-start justify-between gap-8 md:flex-row;
  }

  .transactions-account {
    @apply flex flex-col justify-between gap-4 rounded-lg border-y bg-blue-600 px-4 py-5 md:flex-row;
  }

  .transactions-account-balance {
    @apply flex-center flex-col  gap-2 rounded-md bg-blue-25/20 px-4 py-2 text-white;
  }

  .header-box {
    @apply flex flex-col gap-1;
  }

  .header-box-title {
    @apply text-24 lg:text-30 font-semibold text-gray-900;
  }

  .header-box-subtext {
    @apply text-14 lg:text-16 font-normal text-gray-600;
  }

  /* Bank Card */
  .bank-card {
    @apply relative flex h-[190px] w-full max-w-[320px] justify-between rounded-[20px] border border-white bg-bank-gradient shadow-creditCard backdrop-blur-[6px];
  }

  .bank-card_content {
    @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] bg-gray-700 bg-bank-gradient px-5 pb-4 pt-5;
  }

  .bank-card_icon {
    @apply flex size-full flex-1 flex-col items-end justify-between rounded-r-[20px] bg-bank-gradient bg-cover bg-center bg-no-repeat py-5 pr-5;
  }

  /* Bank Info */
  .bank-info {
    @apply gap-[18px] flex p-4 transition-all border bg-blue-25 border-transparent;
  }

  /* Category Badge */
  .category-badge {
    @apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
  }

  .banktab-item {
    @apply gap-[18px] border-b-2 flex px-2 sm:px-4 py-2 transition-all;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /* PlaidLink */
  .plaidlink-primary {
    @apply text-16 rounded-lg border border-bankGradient bg-bank-gradient font-semibold text-white shadow-form;
  }

  .plaidlink-ghost {
    @apply flex cursor-pointer items-center justify-center gap-3 rounded-lg px-3 py-7 hover:bg-white lg:justify-start;
  }

  .plaidlink-default {
    @apply flex !justify-start cursor-pointer gap-3 rounded-lg !bg-transparent flex-row;
  }

  /* Auth */
  .auth-asset {
    @apply flex h-screen w-full sticky top-0 items-center justify-end bg-sky-1 max-lg:hidden;
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-14 w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply text-16 rounded-lg  bg-bank-gradient font-semibold text-white shadow-form;
  }

  .form-link {
    @apply text-14 cursor-pointer font-medium text-bankGradient;
  }

  /* Payment Transfer */
  .payment-transfer {
    @apply no-scrollbar flex flex-col overflow-y-scroll bg-gray-25 p-8 md:max-h-screen xl:py-12;
  }

  .payment-transfer_form-item {
    @apply flex w-full max-w-[850px] flex-col gap-3 md:flex-row lg:gap-8;
  }

  .payment-transfer_form-content {
    @apply flex w-full max-w-[280px] flex-col gap-2;
  }

  .payment-transfer_form-details {
    @apply flex flex-col gap-1 border-t border-gray-200 pb-5 pt-6;
  }

  .payment-transfer_btn-box {
    @apply mt-5 flex w-full max-w-[850px] gap-3 border-gray-200 py-5;
  }

  .payment-transfer_btn {
    @apply text-14 w-full bg-bank-gradient font-semibold text-white shadow-form !important;
  }

  /* Root Layout */
  .root-layout {
    @apply flex h-16 items-center justify-between p-5 shadow-creditCard sm:p-8 md:hidden;
  }

  /* Bank Info */
  .bank-info_content {
    @apply flex flex-1 items-center justify-between gap-2 overflow-hidden;
  }

  /* Footer */
  .footer {
    @apply flex cursor-pointer items-center justify-between gap-2;
  }

  .footer_name {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200 max-xl:hidden;
  }

  .footer_email {
    @apply flex flex-1 flex-col justify-center max-xl:hidden;
  }

  .footer_name-mobile {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200;
  }

  .footer_email-mobile {
    @apply flex flex-1 flex-col justify-center;
  }

  .footer_image {
    @apply relative size-5 max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center;
  }

  .footer_image-mobile {
    @apply relative size-5;
  }

  /* Sidebar */
  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col  justify-between border-r border-gray-200 bg-white pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply 2xl:text-26 font-ibm-plex-serif text-[26px] font-bold text-black-1 max-xl:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-16 font-semibold text-black-2 max-xl:hidden;
  }
}
